html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;

    display: grid;
    gap: 20px;

    grid-template-areas:
        "A A A A"
        "B C C D"
        "B C C D"
        "E E E E";
}

.box {
    border: 2px solid red;
}

#header {
    grid-area: A;
}

#menu {
    grid-area: B;
}

#content {
    grid-area: C;
}

#ads {
    grid-area: D;
}

#footer {
    grid-area: E;
}